@media screen and (max-width: 767px) {
    @font-face {
        font-family: roboto;
        src: url("font/Roboto/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: shrikhand;
        src: url("font/Shrikhand/Shrikhand-Regular.ttf");
    }

    body {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-bottom: 0;
        font-family: 'roboto';
        position: relative;
    }

    .section {
        margin-top: -10px;
        z-index: 2;
        position: absolute;
        display: inline-block;
        text-align: center;
        background-color: #9256dceb;
        color: #FF79DA;
        font-size: 30px;
        height: 600px;
        line-height: 600px;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        animation: bg_loading 500ms linear 1500ms;
        animation-fill-mode: forwards;
    }

    .loading_spiner {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 6px solid #ff79d942;
        vertical-align: middle;
        position: relative;
    }

    .loading_spiner::after {
        content: "";
        position: absolute;
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        display: inline-block;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FF79DA;
        vertical-align: middle;
        animation: rotation 500ms linear 250ms 3;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
            opacity: 0;

        }
    }

    @keyframes bg_loading {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: -1;
        }
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 5px rgb(212, 212, 212);
        padding-top: 4px;
    }

    .logo {
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.1);
    }

    .location i {
        color: rgb(108, 108, 108);
        margin-right: 10px;
    }

    .location p {
        color: rgb(108, 108, 108);
    }

    span {
        font-weight: bold;
    }

    /*==================================PRESENTATION========================  */
    .introduction {
        box-shadow: 0px -1px 2px rgba(173, 173, 173, 0.1);
        background-color: rgba(173, 173, 173, 0.1);
    }

    .introduction h2 {
        text-align: center;
        margin-left: 7px;
        margin-right: 7px;
    }

    .introduction p {
        text-align: center;
        margin-left: 7px;
        margin-right: 7px;
    }

    .button_explore {
        text-align: center;
    }

    .introduction button {
        margin-top: 15px;
        margin-bottom: 40px;
        padding: 10px;
        color: white;
        background-color: #9356DC;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    /*==================================FONCTIONNEMENT========================  */
    .fonctionnement h2 {
        margin-top: 25px;
        margin-left: 15px;
    }

    .conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .number {
        border-radius: 30px;
        background-color: #9356DC;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: white;
        margin-right: -15px;
    }

    .caption {
        padding-left: 35px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 15px;
        width: 65%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    .degustez .caption {
        background-color: #9256dc2a;
    }

    .fa-solid {
        margin-right: 20px;
        color: gray;
    }

    .fa-store {
        color: #9356DC;
    }


    /*==================================RESTAURANTS===========================  */
    a {
        color: unset;
        text-decoration: none;
    }

    .restaurants {
        background-color: rgba(128, 128, 128, 0.25);
        padding-bottom: 30px;
    }

    .restaurants h2 {
        padding-top: 20px;
        margin-left: 20px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 250px;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        background-color: white;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .logo_coeur {
        z-index: 1;
        position: relative;
    }

    .logo_coeur_rempli {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;

    }

    .fa-heart {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: -15px;
        margin-right: 25px;
    }

    .title h3 {
        margin-bottom: 0;
    }

    .img_restaurant {
        max-width: 100%;
        height: auto;
    }

    .card_image {
        overflow: hidden;
        object-fit: cover;
        border-radius: 13px 13px 0 0;
        position: relative;
        z-index: 0;
    }

    .sigle_nouveau {
        top: 0;
        right: 12px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 3px;
        font-size: 14px;
        background-color: #99e2d0;
        color: #326559;
        z-index: 1;
        position: absolute;
    }

    .card_body {
        margin-left: 15px;
    }

    .card_body p {
        margin-top: 0;
        padding-top: 0;
    }

    .logo_coeur {
        position: relative;
    }

    .heart-empty {
        z-index: 1;
        margin-top: -1px;

    }

    .heart-full {
        position: absolute;
        margin-top: -1px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    .heart-full:hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        transition: opacity 800ms ease-in-out;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    }

    /*==================================Page_menu===========================  */

    .fa-arrow-left {
        color: rgb(45, 45, 45);
        margin-left: -80px;
        margin-bottom: 2px;
        font-size: 20px;
    }

    .nom_restaurant {
        margin-left: 25px;
        font-family: 'shrikhand';
        font-size: 28px;
    }

    .background_image {
        height: 500px;
        position: relative;
        z-index: -1;
    }

    .photo_plat_restaurant {
        max-width: 100%;
        height: auto;
    }

    .menu {
        border-radius: 30px 30px 0px 0px;
        background-color: rgb(230, 229, 229);
        margin-top: -280px;
        z-index: 1;
    }

    .title-heart {
        margin-bottom: 15px;
    }

    .button_commander {
        text-align: center;
    }

    section button {
        margin-top: 15px;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px;
        color: white;
        background-color: #9356DC;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transform: scale(1);
        transition-property: transform;
        transition-duration: 0.5s;
    }

    section button :hover {
        transform: scale(1.15);
    }

    .categorie h3 {
        margin-left: 25px;
        margin-bottom: 30px;
        padding-bottom: 5px;
        font-weight: lighter;
        border-bottom: 3px solid #99E2D0;
        width: 45px;
        color: rgb(63, 63, 63);
    }

    .plat {
        border-radius: 15px;
        background-color: white;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        opacity: 0;
    }

    .article_1 {
        animation: apparition 1s linear 300ms;
        animation-fill-mode: forwards;  
    }

    .article_2 {
        animation: apparition 1s linear 500ms;
        animation-fill-mode: forwards;  
    }

    .article_3 {
        animation: apparition 1s linear 700ms;
        animation-fill-mode: forwards;  
    }

    .article_4 {
        animation: apparition 1s linear 900ms;
        animation-fill-mode: forwards;  
    }

    .article_5 {
        animation: apparition 1s linear 1100ms;
        animation-fill-mode: forwards;  
    }

    .article_6 {
        animation: apparition 1s linear 1300ms;
        animation-fill-mode: forwards;  
    }

    .article_7 {
        animation: apparition 1s linear 1500ms;
        animation-fill-mode: forwards;  
    }

    .article_8 {
        animation: apparition 1s linear 1700ms;
        animation-fill-mode: forwards;  
    }

    .article_9 {
        animation: apparition 1s linear 1900ms;
        animation-fill-mode: forwards;  
    }

    .article_10 {
        animation: apparition 1s linear 2100ms;
        animation-fill-mode: forwards;  
    }

    @keyframes apparition {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(-10px);
        }
    }


    .plat h4 {
        margin-left: 15px;
        margin-right: 40px;
        padding-top: 15px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.2em;
    }

    .complement {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 15px;
    }

    .prix {
        margin-top: 5px;
        word-break: norml;
        font-size: 0.95em;
        color: rgb(63, 63, 63);
        margin-left: 20px;
    }

    .description {
        margin-top: 5px;
        word-break: norml;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.95em;
        color: rgb(63, 63, 63);
    }

    .prix {
        margin-right: 20px;
    }

    .logo_ajoute {
        display: none;
    }

    /*==================================FOOTER===========================  */
    footer {
        background-color: rgb(49, 49, 49);
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .footer_logo {
        height: 20px;
        filter: invert(100%);
        margin-left: 20px;
    }

    footer ul {
        list-style-type: none;
        margin-top: 15px;
        padding-left: 20px;
    }

    footer li {
        color: white;
        padding-bottom: 10px;
    }

    footer i {
        width: 10px;
    }

    .logo-footer {
        color: white;
        font-size: 12px;
        margin-right: 15px;
    }
}

/* =================================Touchpad======================================= */

@media screen and (min-width: 768px) and (max-width: 991px) {
    @font-face {
        font-family: roboto;
        src: url("font/Roboto/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: shrikhand;
        src: url("font/Shrikhand/Shrikhand-Regular.ttf");
    }

    body {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-bottom: 0;
        font-family: 'roboto';
        position: relative;
    }

    .section {
        margin-top: -10px;
        z-index: 2;
        position: absolute;
        display: inline-block;
        text-align: center;
        background-color: #9256dceb;
        color: #FF79DA;
        font-size: 50px;
        height: 950px;
        line-height: 950px;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        animation: bg_loading 500ms linear 1500ms;
        animation-fill-mode: forwards;
    }

    .loading_spiner {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 6px solid #ff79d942;
        vertical-align: middle;
        position: relative;
    }

    .loading_spiner::after {
        content: "";
        position: absolute;
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        display: inline-block;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FF79DA;
        vertical-align: middle;
        animation: rotation 500ms linear 250ms 3;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes bg_loading {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: -1;
        }
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 5px rgb(212, 212, 212);
        padding-top: 4px;
    }

    .logo {
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.1);
    }

    .location i {
        color: rgb(108, 108, 108);
        margin-right: 10px;
    }

    .location p {
        color: rgb(108, 108, 108);
    }

    span {
        font-weight: bold;
    }

    /*==================================PRESENTATION========================  */
    .introduction {
        box-shadow: 0px -1px 2px rgba(173, 173, 173, 0.1);
        background-color: rgba(173, 173, 173, 0.1);
    }

    .introduction h2 {
        text-align: center;
        margin-left: 7px;
        margin-right: 7px;
    }

    .introduction p {
        text-align: center;
        margin-left: 7px;
        margin-right: 7px;
    }

    .button_explore {
        text-align: center;
    }

    .introduction button {
        margin-top: 15px;
        margin-bottom: 40px;
        padding: 10px;
        color: white;
        background-color: #9356DC;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    /*==================================FONCTIONNEMENT========================  */
    .fonctionnement h2 {
        margin-top: 25px;
        margin-left: 15px;
    }

    .conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .number {
        border-radius: 30px;
        background-color: #9356DC;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: white;
        margin-right: -15px;
    }

    .caption {
        padding-left: 35px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 15px;
        width: 65%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    .degustez .caption {
        background-color: #9256dc2a;
    }

    .fa-solid {
        margin-right: 20px;
        color: gray;
    }

    .fa-store {
        color: #9356DC;
    }


    /*==================================RESTAURANTS===========================  */
    a {
        color: unset;
        text-decoration: none;
    }

    .restaurants {
        background-color: rgba(128, 128, 128, 0.25);
        padding-bottom: 30px;
    }

    .restaurants h2 {
        padding-top: 20px;
        margin-left: 20px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 250px;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        background-color: white;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title h3 {
        margin-bottom: 0;
    }

    .fa-heart {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: -15px;
        margin-right: 25px;
    }


    .img_restaurant {
        max-width: 100%;
        height: auto;
    }

    .card_image {
        overflow: hidden;
        object-fit: cover;
        border-radius: 13px 13px 0 0;
        position: relative;
        z-index: 0;
    }

    .sigle_nouveau {
        top: 0;
        right: 12px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 3px;
        font-size: 14px;
        background-color: #99e2d0;
        color: #326559;
        z-index: 1;
        position: absolute;
    }

    .card_body {
        margin-left: 15px;
    }

    .card_body p {
        margin-top: 0;
        padding-top: 0;
    }

    .logo_ajoute {
        display: none;
    }

    .logo_coeur {
        position: relative;
    }

    .heart-empty {
        z-index: 1;
    }

    .heart-full {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    .heart-full:hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        transition: opacity 800ms ease-in-out;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    }

    /*==================================Page_menu===========================  */

    .fa-arrow-left {
        color: rgb(45, 45, 45);
        margin-left: -80px;
        margin-bottom: 2px;
        font-size: 20px;
    }

    .nom_restaurant {
        margin-left: 25px;
        font-family: 'shrikhand';
        font-size: 28px;
    }

    .background_image {
        height: 500px;
        position: relative;
        z-index: -1;
    }

    .photo_plat_restaurant {
        max-width: 100%;
        height: auto;
    }

    .menu {
        border-radius: 30px 30px 0px 0px;
        background-color: rgb(230, 229, 229);
        margin-top: -280px;
        z-index: 1;
    }

    .title-heart {
        margin-bottom: 15px;
    }

    .button_commander {
        text-align: center;
    }

    section button {
        margin-top: 15px;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px;
        color: white;
        background-color: #9356DC;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transform: scale(1);
        transition-property: transform;
        transition-duration: 0.5s;
    }

    section button :hover {
        transform: scale(1.15);
    }

    .categorie h3 {
        margin-left: 25px;
        margin-bottom: 30px;
        padding-bottom: 5px;
        font-weight: lighter;
        border-bottom: 3px solid #99E2D0;
        width: 45px;
        color: rgb(63, 63, 63);
    }

    .plat {
        margin-top: 10px;
        border-radius: 15px;
        background-color: white;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        opacity: 0;
    }

    .article_1 {
        animation: apparition 1s linear 300ms;
        animation-fill-mode: forwards;  
    }

    .article_2 {
        animation: apparition 1s linear 500ms;
        animation-fill-mode: forwards;  
    }

    .article_3 {
        animation: apparition 1s linear 700ms;
        animation-fill-mode: forwards;  
    }

    .article_4 {
        animation: apparition 1s linear 900ms;
        animation-fill-mode: forwards;  
    }

    .article_5 {
        animation: apparition 1s linear 1100ms;
        animation-fill-mode: forwards;  
    }

    .article_6 {
        animation: apparition 1s linear 1300ms;
        animation-fill-mode: forwards;  
    }

    .article_7 {
        animation: apparition 1s linear 1500ms;
        animation-fill-mode: forwards;  
    }

    .article_8 {
        animation: apparition 1s linear 1700ms;
        animation-fill-mode: forwards;  
    }

    .article_9 {
        animation: apparition 1s linear 1900ms;
        animation-fill-mode: forwards;  
    }

    @keyframes apparition {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(-10px);
        }
    }

    .plat h4 {
        margin-left: 15px;
        margin-right: 40px;
        padding-top: 15px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.2em;
    }

    .complement {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 15px;
    }

    .prix {
        margin-top: 5px;
        word-break: norml;
        font-size: 0.95em;
        color: rgb(63, 63, 63);
        margin-left: 20px;
    }

    .description {
        margin-top: 5px;
        word-break: norml;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.95em;
        color: rgb(63, 63, 63);
    }

    .prix {
        margin-right: 20px;
    }

    /*==================================FOOTER===========================  */
    footer {
        background-color: rgb(49, 49, 49);
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .footer_logo {
        height: 20px;
        filter: invert(100%);
        margin-left: 20px;
    }

    footer ul {
        list-style-type: none;
        margin-top: 15px;
        padding-left: 20px;
    }

    footer li {
        color: white;
        padding-bottom: 10px;
    }

    footer i {
        width: 10px;
    }

    .logo-footer {
        color: white;
        font-size: 12px;
        margin-right: 15px;
    }
}

/* =================================Desktop======================================= */

@media screen and (min-width: 991px) {
    @font-face {
        font-family: roboto;
        src: url("font/Roboto/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: shrikhand;
        src: url("font/Shrikhand/Shrikhand-Regular.ttf");
    }

    body {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-bottom: 0;
        font-family: 'roboto';
        position: relative;
    }

    .section {
        z-index: 2;
        position: absolute;
        display: inline-block;
        text-align: center;
        background-color: #9256dceb;
        color: #FF79DA;
        font-size: 50px;
        height: 600px;
        line-height: 600px;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        animation: bg_loading 500ms linear 1500ms;
        animation-fill-mode: forwards;
    }

    .loading_spiner {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 6px solid #ff79d942;
        vertical-align: middle;
        position: relative;
    }

    .loading_spiner::after {
        content: "";
        position: absolute;
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
        display: inline-block;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FF79DA;
        vertical-align: middle;
        animation: rotation 500ms linear 250ms 3;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
            opacity: 0;

        }
    }

    @keyframes bg_loading {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: -1;
        }
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 5px rgb(212, 212, 212);
        padding-top: 4px;
    }

    .logo {
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.1);
    }

    .location i {
        color: rgb(108, 108, 108);
        margin-right: 10px;
    }

    .location p {
        color: rgb(108, 108, 108);
    }

    span {
        font-weight: bold;
    }

    /*==================================PRESENTATION========================  */
    .introduction {
        box-shadow: 0px -1px 2px rgba(173, 173, 173, 0.1);
        background-color: rgba(173, 173, 173, 0.1);
    }

    .introduction h2 {
        text-align: center;
        margin-left: 7px;
        margin-right: 7px;
    }

    .introduction p {
        text-align: center;
        margin-left: 7px;
        margin-right: 7px;
    }

    .button_explore {
        text-align: center;
    }

    .introduction button {
        margin-top: 15px;
        margin-bottom: 40px;
        padding: 10px;
        color: white;
        background-color: #9356DC;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    /*==================================FONCTIONNEMENT========================  */
    .fonctionnement h2 {
        margin-top: 25px;
        margin-left: 15px;
    }

    .conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .number {
        border-radius: 30px;
        background-color: #9356DC;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: white;
        margin-right: -15px;
    }

    .caption {
        padding-left: 35px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 15px;
        width: 65%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    .degustez .caption {
        background-color: #9256dc2a;
    }

    .fa-solid {
        margin-right: 20px;
        color: gray;
    }

    .fa-store {
        color: #9356DC;
    }


    /*==================================RESTAURANTS===========================  */
    a {
        color: unset;
        text-decoration: none;
    }

    .restaurants {
        background-color: rgba(128, 128, 128, 0.25);
        padding-bottom: 30px;
    }

    .restaurants h2 {
        padding-top: 20px;
        margin-left: 20px;
    }

    .restaurants_cards a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 250px;
        width: 60%;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        background-color: white;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title h3 {
        margin-bottom: 0;
    }

    .fa-heart {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: -15px;
        margin-right: 25px;
    }


    .img_restaurant {
        max-width: 100%;
        height: auto;
    }

    .card_image {
        overflow: hidden;
        object-fit: cover;
        border-radius: 13px 13px 0 0;
        position: relative;
        z-index: 0;
    }

    .sigle_nouveau {
        top: 0;
        right: 10px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 3px;
        font-size: 14px;
        background-color: #99e2d0;
        color: #326559;
        z-index: 1;
        position: absolute;
    }

    .card_body {
        margin-left: 15px;
    }

    .card_body p {
        margin-top: 0;
        padding-top: 0;
    }

    .logo_coeur {
        position: relative;
    }

    .heart-empty {
        z-index: 1;
    }

    .heart-full {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    .heart-full:hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        transition: opacity 800ms ease-in-out;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    }



    /*==================================Page_menu===========================  */

    .fa-arrow-left {
        color: rgb(45, 45, 45);
        margin-bottom: 2px;
        font-size: 20px;
    }

    .fa-arrow-left:hover {
        color: #9356DC;
    }

    .nom_restaurant {
        margin-left: 25px;
        font-family: 'shrikhand';
        font-size: 28px;
    }

    .background_image {
        height: 500px;
        position: relative;
        z-index: -1;
    }

    .photo_plat_restaurant {
        max-width: 100%;
        height: auto;
    }

    .menu {
        border-radius: 30px 30px 0px 0px;
        background-color: rgb(230, 229, 229);
        margin-top: -280px;
        z-index: 1;
    }

    .title-heart {
        margin-bottom: 15px;
    }


    .button_commander {
        text-align: center;
    }

    section button {
        margin-top: 30px;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px;
        color: white;
        background-color: #9356DC;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transition: background 500ms ease-in-out;
    }

    section button:hover {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
        transition: background 300ms ease-in-out;
        background-color: #b185e8;
    }


    .categorie h3 {
        margin-left: 25px;
        margin-bottom: 0;
        padding-bottom: 5px;
        font-weight: lighter;
        border-bottom: 3px solid #99E2D0;
        width: 45px;
        color: rgb(63, 63, 63);
    }

    .plat {
        z-index: 1;
        display: flex;
        height: 80px;
        border-radius: 15px;
        background-color: white;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        width: 30%;
        overflow: hidden;
        position: relative;
    }

    .plat:hover .logo_ajoute {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99e2d0;
        margin-right: 0;
        transform-origin: right 50%;
        transform: translateX(0%);
    }

    .logo_ajoute {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 400ms ease-in-out;
        background-color: #99e2d0;
        position: absolute;
        right: 0px;
        height: inherit;
    }

    .plat:hover .logo_ajout_plat {
        transform: rotate(0deg);
        transition: transform 500ms ease-in-out;
    }

    .logo_ajout_plat {
        filter: invert(100%);
        height: 35px;
        margin-left: 25px;
        margin-right: 25px;
        transform: rotate(-360deg);
        transform-origin: 50% 50%;
    }

    .plat:hover .plat_carte {
        width: calc(100% - 25%);
        transition: width 400ms ease-in-out;
    }

    .complement {
        display: flex;
        justify-content: space-between;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 6px;
        margin-left: 15px;
    }

    .plat_carte {
        z-index: 1;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: width 400ms ease-in-out;
    }

    .descript_plat {
        display: flex;
    }

    .plat h4 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 15px;
        margin-right: 40px;
        padding-top: 15px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.2em;
    }


    .prix {
        margin-top: 5px;
        word-break: norml;
        font-size: 0.95em;
        color: rgb(63, 63, 63);
        margin-left: 20px;
    }

    .description {
        margin-top: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.95em;
        color: rgb(63, 63, 63);
    }

    .prix {
        margin-right: 20px;
    }

    /*==================================FOOTER===========================  */
    footer {
        background-color: rgb(49, 49, 49);
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
        height: 20px;
        filter: invert(100%);
        text-align: center;
        margin-left: 45.5%;

    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        margin-top: 15px;
        padding-left: 20px;
    }

    footer li {
        color: white;
        padding-bottom: 10px;
    }

    footer li:hover {
        text-shadow: 2px 2px 10px #9356DC;
    }

    footer i {
        width: 10px;
    }

    .logo-footer {
        color: white;
        font-size: 12px;
        margin-right: 15px;
    }

}